{% extends "site_layout.html "%}

{% block content %}

    {% if form.errors %}
        User/password combination not found!<br/>Do you need to register an account?
    {% endif %}

    {% if next %}
    {% endif %}

    <form method="post" action="{% url 'login' %}" align="center">
        {% csrf_token %}
        <p>Username: {{ form.username }}</p>
        <p>Password: {{ form.password }}</p>
        <span style="align:center"><input type="submit" value="login"></span>
        <input type="hidden" name="next" value="{{ next }}">
    </form>

<br/><br/>

Or do you need to <a href="/signup">register</a> a new account?

{% endblock %}