<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">


        body {
            background-color: lightblue;
        }

        p {
            color: black;
        }

        #navbar {
            text-size: 16px;
            color: black;
        }

        .shiny {
            text-align: center;
            font-size: 22px;
            border: 2px solid black;
            width: 150px;
        }

        #content {
            margin: 100px 100px 0px;
            padding: 40px 100px;
            border: 3px solid blue;
        }


    </style>
    <title>{% block title %}Welcome to the WorldJournal{% endblock %}</title>
</head>

<body>

    <div id="navbar">
        <table cellpadding="6" align="center" width="95%">
            <tr>
                <td class="shiny"><a href = "/">Library</a></td>
                <td class="shiny"><a href="/time">Timelines</a></td>
                <td class="shiny"><a href="/maps">Maps</a></td>
                <td></td>
                <td class="shiny">
                    {% if user.is_authenticated %}
                    Hello, {{ user.username }}.<br/><a href="/logout/">Log out?</a>
                    {% else %}
                    Hello stranger.<br/><a href="/login/">Log in?</a>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>

    <div id="content">
        {% block content %}This page has no content.{% endblock %}
    </div>
</body>
</html>